NAME_PROJECT=donomo
NAME_PROJECT_CONTAINER=donomo_nodejs
NAME_SGBD_CONTAINER=donomo_mongo
NAME_SGBD_DISPLAY_CONTAINER=donomo_moexpress
NAME_MAIL_DISPLAY_CONTAINER=donomo_mailhog
VALUE_SGBD_VERSION=latest
VALUE_SGBD_DISPLAY_VERSION=latest
VALUE_MAIL_DISPLAY_VERSION=latest
VALUE_PROJECT_PORT=3000
VALUE_SGBD_PORT=27020
VALUE_SGBD_DISPLAY_PORT=8080
VALUE_MAIL_DISPLAY_DISPLAY_PORT=8020
MONGO_DATABASE=donomo
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=secret
NAME_JS_SERVER=server.js
FOLDER_PROJECT=www
