NAME_PROJECT=dnjs
NAME_NODEJS_CONTAINER=dnjs_httpd
NAME_SGBD_CONTAINER=dnjs_mongo
NAME_MOEXPRESS_CONTAINER=dnjs_moexpress
NAME_MAILHOG_CONTAINER=dnjs_mailhog
VALUE_NODEJS_PORT=3000
VALUE_SGBD_PORT=27020
VALUE_MOEXPRESS_PORT=8080
VALUE_MAILHOG_DISPLAY_PORT=8020
